<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Covids - Coronavirus (COVID-19) </title>
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicon/apple-touch-icon.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon/favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
    <link href= "{{ url_for('static', filename='elements.css') }}" rel="stylesheet">
    <link href= "{{ url_for('static', filename='preview.css') }}"rel="stylesheet">
    <link href= "{{ url_for('static', filename='responsive.css') }}"rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    

</head>

<body>
    <div class="preloader-wrapper">
        <div class="preloader loading">
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
        </div>
    </div>

    <section id="slider-section" class="slider_area slider-wrapper">
        <div id="background-1" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-2" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-3" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-4" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-5" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-6" class="mouse-b <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/bootstrap.min.js"></script>
            <script src="assets/js/theme.plugins.js"></script>
            <script src="assets/js/preloader.js"></script>
            <script src="assets/js/main.js"></script>
        
        n-xs hidden-sm"></div>
        <div id="background-13" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-14" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-15" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-16" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-17" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-18" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-20" class="mouse-bg hidden-xs hidden-sm"></div>
        <div class="container">
            <div class="animation-img hidden-xs">
              
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/theme.plugins.js"></script>
    <script src="assets/js/preloader.js"></script>
    <script src="assets/js/main.js"></script>

mg/bg/home-1-slide/21.jpg') }}" class="mouse-6 animation" alt="">
                <img src=""
            </div>
            <div class="row">
                <div class="col-xs-12 ">
                    <div class=" slide-caption-inner slider-text">
                        <div class="smg-logo">
                            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
                        </div>
                        <h1 class="cd-headline clip ">

                            <span class="cd-words-wrapper">
                                    <b class="is-visible">Predicting Incidence of Coronavirus (COVID-19) Infections in Nigeria
                                </b><b>Using Polynomial Regression Machine Learning Tool </b> </span>
                        </h1>

                        <div class="slider-links">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="work_area" class="work_area">
        <div class="app-pages-area">
            <h1>Predict Total Death from Confirmed Case</h1>

            {% block content %}{% endblock %}

            <div class="row justify-content-center page-title mt-5">
              
                <div class="col-sm-4 col-xs-12">
                    <div class="single_items single_items-2">
                        
                        
                    </div>
                    <h2 class="page-name"></h2>
                </div>
                <div class="col-sm-4 col-xs-12">
                    
             
            </div>
        </div>

       
    </section>

   

    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='preloader.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>


</body>

</html>